* {
  margin: 0;
  padding: 0;
}

.world {
  min-height: 100vh;
  width: 100%;
  background-image: url("img/sky.jpg");
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

.highway {
  height: 200px;
  width: 500%;
  display: block;
  background-image: url("img/road+++.jpg");
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: highway 5s linear infinite;
}

@keyframes highway {
  100% {
    transform: translateX(-3400px);
  }
}

.city {
  height: 250px;
  width: 500%;
  background-image: url("img/city.png");
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
  display: block;
  z-index: 1;
  background-repeat: repeat-x;
  animation: city 50s linear infinite;
  -webkit-animation: city 50s linear infinite;
}

@keyframes city {
  100% {
    transform: translateX(-1400px);
  }
}
.car {
  width: 400px;
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  z-index: 2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.car img {
  width: 100%;
  animation: car 1s liner infinite;
  -webkit-animation: car 1s liner infinite;
}
@keyframes car {
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
  0% {
    transform: translateY(-50px);
  }
}
.wheel {
  left: 50%;
  position: absolute;
  bottom: 171px;
  transform: translateX(-50%);
  z-index: 2;
}
.wheel img {
  width: 65px;
  height: 65px;
  animation: wheel 0.45s linear infinite;
  -webkit-animation: wheel 0.45s linear infinite;
}

.back-wheel {
  left: -146px;
  position: absolute;
}
.front-wheel {
  left: 100px;
  position: absolute;
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
